= javascript_include_tag 'autoReload'
.head
  .head__title
    = @group.name
  .head__current-user
    .head__current-user__name
      = current_user.name
    .head__current-user__edit
      = link_to edit_group_path(params[:group_id]) do
        = icon('fas', 'drafting-compass')
      =link_to group_stores_path(params[:group_id]) do
        = icon('fas', 'shopping-cart')
      = link_to groups_path do
        = icon('fas', 'door-open')

.show-lists
  .show-lists__side-bar
    .show-lists__side-bar__contents
      - @group.users.each do |user|
        .show-lists__side-bar__contents__content
          =link_to '#' do
            .show-lists__side-bar__contents__content__member-name
              =user.name

  .show-lists__chat-main
    .show-lists__chat-main__message-lists
      .show-lists__chat-main__message-lists__contents
        - @group.messages.each do |message|
          .show-lists__chat-main__message-lists__contents__content{data: {message: {id: message.id}}}
            .show-lists__chat-main__message-lists__contents__content__left
              .show-lists__chat-main__message-lists__contents__content__left__name
                = message.user.name
              .show-lists__chat-main__message-lists__contents__content__left__text
                = message.content
                = image_tag message.image.url, class: '.show-lists__chat-main__message-lists__contents__content__left__text__img' if message.image.present?
            .show-lists__chat-main__message-lists__contents__content__right
              .show-lists__chat-main__message-lists__contents__content__right__time-stamp
                = message.created_at
        -if @informs
          - @informs.each do |inform|
            .show-lists__chat-main__message-lists__contents__content1
              .show-lists__chat-main__message-lists__contents__content1__left
                .show-lists__chat-main__message-lists__contents__content1__left__name
                  = inform.user.name
                .show-lists__chat-main__message-lists__contents__content1__left__store-name
                  = inform.store.name
                .show-lists__chat-main__message-lists__contents__content1__left__text
                  = inform.content
              .show-lists__chat-main__message-lists__contents__content1__right
                .show-lists__chat-main__message-lists__contents__content1__right__time-stamp
                  = inform.created_at
        
    
.chat-main
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "chat-main__message-form__Form"}, local: true do |f|
      .chat-main__message-form__Form__contents
        = f.text_field :content, class: 'chat-main__message-form__Form__contents__message', placeholder: 'type a message'
        .chat-main__message-form__Form__contents__imgbox
          = f.label :image, class: 'chat-main__message-form__Form__contents__imgbox__label' do
            = icon('far', 'image', class: 'chat-main__message-form__Form__contents__imgbox__label__icon')
            = f.file_field :image, class: 'chat-main__message-form__Form__contents__imgbox__label__file-field'
      = f.submit 'Send', class: 'chat-main__message-form__Form__btn-send'
















-# .show-lists__chat-main
-#     .show-lists__chat-main__message-lists
-#       .show-lists__chat-main__message-lists__contents
-#         - @group.messages.each do |message|
-#           .show-lists__chat-main__message-lists__contents__content
-#             .show-lists__chat-main__message-lists__contents__content__left
-#               .show-lists__chat-main__message-lists__contents__content__left__name
-#                 = message.user.name
-#               .show-lists__chat-main__message-lists__contents__content__left__text
-#                 = message.content
-#                 = image_tag message.image.url, class: '.show-lists__chat-main__message-lists__contents__content__left__text__img' if message.image.present?
-#             .show-lists__chat-main__message-lists__contents__content__right
-#               .show-lists__chat-main__message-lists__contents__content__right__time-stamp
-#                 = message.created_at
-#         -if @informs
-#           - @informs.each do |inform|
-#             .show-lists__chat-main__message-lists__contents__content1
-#               .show-lists__chat-main__message-lists__contents__content1__left
-#                 .show-lists__chat-main__message-lists__contents__content1__left__name
-#                   = inform.user.name
-#                 .show-lists__chat-main__message-lists__contents__content1__left__store-name
-#                   = inform.store.name
-#                 .show-lists__chat-main__message-lists__contents__content1__left__text
-#                   = inform.content
-#               .show-lists__chat-main__message-lists__contents__content1__right
-#                 .show-lists__chat-main__message-lists__contents__content1__right__time-stamp
-#                   = inform.created_at
  
















      -# .show-lists__chat-main__message-form
    -#   = form_with model: [@group, @message], html: {class: ".show-lists__chat-main__message-form"}, local: true do |f|
    -#     .show-lists__chat-main__message-form__contents
    -#       .show-lists__chat-main__message-form__contents__input-space
    -#         = f.text_field :content, class: '.show-lists__chat-main__message-form__contents__input-space', placeholder: 'type a message'
    -#         .show-lists__chat-main__message-form__contents__input-space__label
    -#           = f.label :image, class: '.show-lists__chat-main__message-form__contents__input-space__label' do
    -#             =icon('far', 'image')
    -#             .show-lists__chat-main__message-form__contents__input-space__label__hidden
    -#               = f.file_field :image, class: '.show-lists__chat-main__message-form__contents__input-space__label__hidden'
    -#       .show-lists__chat-main__message-form__contents__btn-box
    -#         = f.submit 'Send', class: '.show-lists__chat-main__message-form__contents__input-space__btn-box__Send'