.head
  .head__title
    = @group.name
  .head__current-user
    .head__current-user__name
      = current_user.name
    .head__current-user__edit
      = link_to edit_group_path(params[:group_id]) do
        = icon('fas', 'drafting-compass')
      =link_to group_stores_path(params[:group_id]) do
        = icon('fas', 'shopping-cart')
      = link_to groups_path(current_user) do
        = icon('fas', 'door-open')

.show-lists
  .show-lists__side-bar
    .show-lists__side-bar__contents
      - @group.users.each do |user|
        .show-lists__side-bar__contents__content
          =link_to '#' do
            .show-lists__side-bar__contents__content__member-name
              =user.name

  .show-lists__chat-main
    .show-lists__chat-main__message-lists
      .show-lists__chat-main__message-lists__contents
        - @group.messages.each do |message|
          .show-lists__chat-main__message-lists__contents__content
            .show-lists__chat-main__message-lists__contents__content__left
              .show-lists__chat-main__message-lists__contents__content__left__name
                = message.user.name
              .show-lists__chat-main__message-lists__contents__content__left__text
                = message.content
                = image_tag message.image.url, class: '.show-lists__chat-main__message-lists__contents__content__left__text__img' if message.image.present?
            .show-lists__chat-main__message-lists__contents__content__right
              .show-lists__chat-main__message-lists__contents__content__right__time-stamp
                = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    
    .show-lists__chat-main__message-form
      = form_with model: [@group, @message], html: {class: ".show-lists__chat-main__message-form"}, local: true do |f|
        .show-lists__chat-main__message-form__contents
          .show-lists__chat-main__message-form__contents__input-space
            = f.text_field :content, class: '.show-lists__chat-main__message-form__contents__input-space', placeholder: 'type a message'
            .show-lists__chat-main__message-form__contents__input-space__label
              = f.label :image, class: '.show-lists__chat-main__message-form__contents__input-space__label' do
                =icon('far', 'image')
                .show-lists__chat-main__message-form__contents__input-space__label__hidden
                  = f.file_field :image, class: '.show-lists__chat-main__message-form__contents__input-space__label__hidden'
          .show-lists__chat-main__message-form__contents__btn-box
            = f.submit 'Send', class: '.show-lists__chat-main__message-form__contents__input-space__btn-box__Send'
