.head
  .head__title
    Information, News, Here!
  .head__current-user
    .head__current-user__name
      = current_user.name
    .head__current-user__edit
      = link_to new_group_store_path do
        = icon('fas', 'marker')
      = link_to group_stores_path(params[:group_id]) do
        = icon('fas', 'door-open')

.middle
  .middle__contents
    .middle__contents__label
      Regarding
      %span= @store.name
      ・・・
  
.show-main
  .show-main__wrapper
    %div(class = "box effect")
      %p(class = "user-name") testUser
      %p(class = "inform") Today Open 10:00
      %p(class = "time-stamp") 12:00:00
      