.head
  .head__title
    Group index
  .head__current-user
    .head__current-user__name
      = current_user.name
    .head__current-user__edit
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog')
      = link_to new_group_path(current_user) do
        = icon('fas', 'door-open')

.group-list
  .group-list__contents
    - current_user.groups.each do |group|
      .group-list__contents__content
        = link_to group_path(group.id) do
          .group-list__contents__content__group-name
            =group.name
              
