.head
  .head__title
    Group一覧
  .head__current-user
    .head__current-user__name
      = current_user.name
    .head__current-user__edit
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog')
      = link_to new_group_path(current_user) do
        = icon('fas', 'door-open')

.group-list
  .group-list__contents
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup1
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup2
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup3
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup4
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup5
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup6
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup7
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup8
    .group-list__contents__content
      .group-list__contents__content__group-name
        testGroup9